body {
    background-color: #E5FBBD;
    color: #0066FF;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

.uploader, .dropLoader, #drop-area{
	color: #FF2014;
	font-family: "DejaVu Sans Mono";
}

#color {
	color: #32cd32;
}

#canvas, #canvasTwo {
	border: 2px solid #32cd32;
}
